.violet{
   color: 
}

.gris-clair{
    background-color :#A8A8A9;
}

.nav-link{
    color: #609658;; /*texte barre de menu */
}

/* .navbar {
    margin-top: -50px; /* éliminer arge basse de la nav-bar 
} */

 h4{
    color: #609658;;
}

h2{
    color: #c36d6d;
}

.bouton-perso{
    background-color: #d87d7d; /* couleur du fond de bouton */
    color:black; /* couleur du texte du bouton */
}




